
    <footer class="footer bg-purple text-white lobster-regular">
        <div class="container footer-content">
            <div class="row mb-5vc  ">
                <div class="col-md-6 d-flex align-items-center justify-content-center footer-top">
                    <i class="bi bi-shield-lock-fill me-2"></i>
                    <span>Achats et données sécurisés</span>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center footer-top">
                    <i class="bi bi-truck me-2"></i>
                    <span>Expédié sous 5 jours</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3 justify-content-center">
                    <h5 class="mb-3">Liens Utiles</h5>
                    <div class="dropdown-menu">
                        vvv
                    </div>
                </div>
                <div class="col-md-3 justify-content-center">
                    <h5 class="mb-3">Mentions Légales</h5>
                    <div class="dropdown-menu">
                        <!-- Insérez vos liens ici -->
                    </div>
                </div>
                <div class="col-md-3 justify-content-center">
                    <h5 class="mb-3">Informations</h5>
                    <div class="dropdown-menu">
                        <!-- Insérez vos liens ici -->
                    </div>
                </div>
                <div class="col-md-3 justify-content-center">
                    <h5 class="mb-3">Votre Compte</h5>
                    <div class="dropdown-menu">
                        <!-- Insérez vos liens ici -->
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <p>Merci pour votre confiance <i class="bi bi-heart-fill"></i></p>
                </div>
            </div>
        </div>
    </footer>
